<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>电量查询</title>
    <link rel="stylesheet" type="text/css" href="../static/css/electricity_inquiry.css" th:href="@{/css/electricity_inquiry.css}">
  </head>

  <body>
    <div>
      <a href="/index">首页</a>
    </div>

    <div class="block">
      校区：
      <select id="area" class="se" onchange="selectArea()">
        <option value='-1'>请选择</option>
      </select>
      <br />
    </div>
    <div class="block">
      栋数：
      <select id="build" class="se" onchange="selectBuild()"></select>
      <br />
    </div>
    <div class="block">
      房间：
      <select id="room" class="se" onchange="selectRoom()"></select>
      <br />
    </div>
    <div class="block">
      剩余电量：<span id="quantity"></span> <span id="quantityUnit"></span> <br />
    </div>
    <div class="block">
      电价：<input id="price" style="width: 30px" value="0.60" /> 元 / 度 <br />
    </div>
    <div class="block">
      余额：<span id="balance"></span> 元 <br />
    </div>
  </body>

  <script src="https://cdn.staticfile.org/jquery/3.5.1/jquery.min.js"></script>
  <script src="../static/js/electricity_inquiry.js" th:src="@{/js/electricity_inquiry.js}"></script>

</html>
